#container {
    width:100%;
    display: flex;
    justify-content: center;
}

#content h1{
   text-align: center;
}

.swing {
    animation: swing ease-in-out 1.75s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);

}
.swing img {
    border: 5px solid #f8f8f8;
    display: block;
}

.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);

}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }   
}
